@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: 'Public Sans', serif;
   /* background: linear-gradient(to bottom right, rgba(33, 100, 78, 0.8), rgba(47, 187, 143, 0.9));
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px); /* For Safari */
    /* height: 100vh;
    margin: 0; */ 
}

/* Hide scrollbar for Mobile*/
.scrollable-hidden {
  overflow-y: auto; /* Enables scrolling */
  -ms-overflow-style: none; /* Hides scrollbar in IE/Edge */
  scrollbar-width: none; /* Hides scrollbar in Firefox */
}

.scrollable-hidden::-webkit-scrollbar {
  display: none; /* Hides scrollbar in Chrome, Safari */
}

/* Change Swiper Pagination Bullet Colors */
.swiper-pagination-bullet {
  background-color:  #15803d !important; /* Green-500 */
  opacity: 0.6 !important;
  /* width: 10px !important;
  height: 10px !important; */
}

.swiper-pagination-bullet-active {
  background-color: #22c55e !important; /* Green-700 */
  opacity: 1 !important;
    /* width: 10px !important;
  height: 10px !important; */
}

